*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Epilogue', sans-serif;
}

body {
    background: black;
}


#title {
    color: white;
    font-weight: 500;
    font-size: 18vmin;
    max-width: 800px;
    line-height: 1.25;
    position: relative;
    z-index: 1;
}


#remaining-names {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 100%;
    color: white;
    font-family: 'Epilogue', sans-serif;
}

#right-section {
    position: absolute;
    right: 0;
    top: 0;
    display: flex;
    width: clamp(150px, 10%, 300px);
    flex-direction: column;
    height: 100vh;
    background: blue;
    overflow-y: scroll;

}

#warning {
    /* position: relative; */
    /* display: none; */
    color: red;
    font-size: 12px;
    font-family: arial;

}

#sketch-parent {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
}

li {
    list-style: none;
}

#roll-it {
    background: unset;
    font-size: 2vmin;
    border: 2px solid white;
    border-radius: 100px;
    color: white;
    padding: .5em 1em;
    font-family: 'Epilogue', sans-serif;
    position: relative;
    z-index: 2;
}

#roll-it:active {
    background: salmon;
}