*, *::before, *::after {
    margin: 0;
    padding: 0;
}

html {
    font-family: 'Epilogue', sans-serif;
}

canvas {
    display: block;
}

body {
    background: black;
}

main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#title {
    color: white;
    font-weight: 500;
    font-size: 14vmin;
    line-height: 1.25;
    flex: 1 2 60%;
    padding: .15em;
}

#right-section {
    display: flex;
    flex-direction: column;
    flex: .35 1 15%;
    padding: 1em;
    
}

#name-field {
    margin-bottom: 1em;
    font-size: clamp(12px, 6vmin, 22px) !important;
    font-family: 'Epilogue', sans-serif;
}

#remaining-names {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 100%;
    color: white;
    font-family: 'Epilogue', sans-serif;
}

#remaining-names li {
    font-size: clamp(12px, 6vmin, 22px) !important;
    display: flex;
    justify-content: space-between;
}

#warning {
    color: red;
    font-size: 12px;
    font-family: arial;
}

#sketch-parent {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
}

li {
    list-style: none;
    margin: .25em 0;
    font-size: 2.5vmin;
}

.btn {
    background: unset;
    font-size: 2vmin;
    border: 2px solid white;
    border-radius: 100px;
    color: white;
    padding: .5em 1em;
    font-family: 'Epilogue', sans-serif;
    font-size: clamp(12px, 6vmin, 20px) !important;
    margin-bottom: 1em;
}

.btn:hover {
    border: 2px solid coral;
}


.btn:active {
    background: salmon;
}

#roll-it:active {
    background: rgb(155,6,255);
    background: linear-gradient(90deg, rgba(155,6,255,1) 0%, rgba(255,250,0,1) 25%, rgba(29,242,253,1) 50%, rgba(253,91,46,1) 75%, rgba(239,30,255,1) 100%);
    box-shadow: 0px 0px 0px 2px yellow,
    0px 0px 0px 4px cyan,
    0px 0px 0px 6px magenta,
    0px 0px 0px 1px lime;
    border: 2px solid orangered;
}

#name-field {
    background: unset;
    color: white;
    border: unset;
    border-bottom: 2px solid white;
    padding: .5em 1em;
    font-size: 2vmin;
}

#name-field:focus {
    outline: none !important;
    /* background: darkcyan; */
}